<div class="threads-wrapper">
  <div class="threads">

    {{#each thread in controller}}

      <div class="thread">
        <div class="sender">
          {{thread.currentSenderName || thread.currentSenderEmail}}
          <span>({{thread.mailCount}})</span>
        </div>
        <div class="timestamp">{{relativeTime thread.updatedAt}}</div>

        <div class="preview">
          <div class="subject">{{thread.subject}}</div>
          <div class="summary">{{thread.preview}}</div>
        </div>
      </div>

    {{else}}
      <h2>No mails. You feel lucky?</h2>
    {{/each}}

  </div>
</div>
